@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text: #0f172a;
  --color-muted: #64748b;

  --radius-card: 1rem;
}
